{% extends 'base.html'%}
{% block content %}
<h2 class="text-center">About Us</h2>
<p class="text-center">Welcome to the Student Management System, a platform designed to simplify and enhance the way educational institutions manage student information. Our goal is to provide an efficient, secure, and user-friendly solution that streamlines academic and administrative processes.

The system enables students, teachers, and administrators to access essential academic information from a single platform. Students can manage their profiles, view course details, track attendance, check results, and receive important announcements. Administrators can efficiently manage student records, monitor academic progress, and maintain organized institutional data.
</p>
<h2 class="text-center">Our Mission</h2>
<p class="text-center">Our mission is to leverage technology to make educational management more efficient, transparent, and accessible. We aim to reduce paperwork, minimize manual errors, and improve communication between students and educational institutions.
</p>
<h2 class="text-center">Key Features</h2>
<p class="text-center">
    <ul class="list-unstyled text-center" >
  <li class="list-group-item">Secure student registration and login</li>
  <li class="list-group-item">Student profile management</li>
  <li class="list-group-item">Result and academic performance management</li>
  <li class="list-group-item">Notice and announcement portal</li>
  <li class="list-group-item">User-friendly dashboard</li>
  <li class="list-group-item">Secure data storage and management</li>
</ul>
</p>
{% endblock %}